name: "Pull Request Docs Check"
on:
  release:
    types:
      - created
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Deps
        run: python -m pip install .[docs]
      - name: Build Warnings As Errors
        env:
          SPHINX_BUILD: "1"
        run: |
          cd docs
          make html SPHINXOPTS="-W"
      - name: check build
        run: |
          mkdir gh-pages && \
          cp -r docs/build/html/* gh-pages/
      - uses: JamesIves/github-pages-deploy-action@4.1.8
        with:
          branch: gh-pages
          folder: gh-pages
